In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\dell\Downloads\bengaluru_house_prices.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.shape

(13320, 9)

In [7]:
for col in df.columns:
    print(df[col].value_counts())
    print('*'*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [10]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
df.drop(['area_type', 'availability', 'society', 'balcony'], axis = 1, inplace = True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [32]:
df['location'].fillna(df['location'].mode().iloc[0], inplace = True)

C:\Users\dell\AppData\Local\Temp\ipykernel_6588\1113185442.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['location'].fillna(df['location'].mode().iloc[0], inplace = True)

In [35]:
df['size'].isnull().sum()

16

In [36]:
df['size'] = df['size'].fillna(df['size'].mode().iloc[0])

In [41]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [44]:
df['total_sqft'].isnull().sum()

0

In [45]:
df['bath'] = df['bath'].fillna(df['bath'].mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [51]:
df['bhk'] = df['size'].str.split().str.get(0)
df['bhk'] = df['bhk'].astype(int)
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [59]:
df = df[df['bhk'] <= 20]
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [61]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [62]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    else:
        try:
            return float(temp[0])
        except:
            return None

In [ ]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)
df['total_sqft'] = df['total_sqft'].fillna(df['total_sqft'].mean())
df['total_sqft']

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13318 non-null  object
 1   size        13318 non-null  object
 2   total_sqft  13318 non-null  float64
 3   bath        13318 non-null  float64
 4   price       13318 non-null  float64
 5   bhk         13318 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 676.3+ KB

In [69]:
df['price_per_ft'] = df['price'] * 1e5 / df['total_sqft']
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_ft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [91]:
df['location'].apply(lambda x: x.strip())
locations = df['location'].value_counts()
locations_count_less_10 = locations[locations <= 10]
df['location'] = df['location'].apply(lambda x: 'others' if x in locations_count_less_10 else x)

In [96]:
df['location'].value_counts()

location
others                2899
Whitefield             541
Sarjapur  Road         399
Electronic City        302
Kanakpura Road         273
                      ...
Marsur                  11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [100]:
df = df[((df['total_sqft']/df['bhk']) >= 300)]
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12572.000000  12572.000000  12572.000000  12572.000000    12572.000000
mean    1594.445992      2.563996    111.466738      2.650811     6312.195447
std     1259.164230      1.078052    151.965217      0.977557     4177.966959
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1118.000000      2.000000     49.000000      2.000000     4209.344773
50%     1300.000000      2.000000     70.000000      3.000000     5294.736984
75%     1700.000000      3.000000    115.000000      3.000000     6927.325006
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [104]:
def remove_outlier_sqft(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf['price_per_sqft'])
        st = np.std(subdf['price_per_sqft'])
        gen_df = subdf[(subdf['price_per_sqft'] >= (m - st)) & (subdf['price_per_sqft'] <= (m + st))]
        df_out = pd.concat([df_out, gen_df])
    return df_out
df = remove_outlier_sqft(df)
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10351.000000  10351.000000  10351.000000  10351.000000    10351.000000
mean    1508.644720      2.475586     91.382613      2.574824     5664.885604
std      879.704253      0.979187     86.332218      0.898404     2274.864878
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4242.424242
50%     1290.000000      2.000000     67.000000      2.000000     5176.565008
75%     1650.000000      3.000000    100.000000      3.000000     6439.393939
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [115]:
def remove_outlier_bhk(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df['price_per_sqft']),
                'std' : np.std(bhk_df['price_per_sqft']),
                'count' : bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df['price_per_sqft'] < (stats['mean'])].index.values)
    return df.drop(exclude_indices, axis = 'index')
df = remove_outlier_bhk(df)

In [116]:
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7392.000000  7392.000000  7392.000000  7392.000000     7392.000000
mean    1496.722187     2.450114    99.134332     2.500676     6132.142990
std      864.771428     1.012849    93.265546     0.930983     2420.788764
min      300.000000     1.000000    10.000000     1.000000     1300.000000
25%     1096.000000     2.000000    50.000000     2.000000     4594.594595
50%     1260.000000     2.000000    73.500000     2.000000     5685.769653
75%     1680.000000     3.000000   113.392500     3.000000     6904.761905
max    30000.000000    16.000000  2200.000000    16.000000    24509.803922

In [121]:
df.head()

                  location  total_sqft  bath  price  bhk
341    Devarachikkanahalli      1250.0   2.0   40.0    2
2474   Devarachikkanahalli      1200.0   2.0   83.0    2
5030   Devarachikkanahalli      1170.0   2.0   40.0    2
5771   Devarachikkanahalli      1425.0   2.0   65.0    3
6591   Devarachikkanahalli       947.0   2.0   43.0    2

In [122]:
df.to_csv('cleaned_data.csv')

In [124]:
X = df.drop('price', axis = 1)
Y = df['price']

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [131]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\dell\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.13.1)

In [139]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor, VotingRegressor, GradientBoostingRegressor, BaggingRegressor, RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

In [138]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
adr = AdaBoostRegressor()
gbr = GradientBoostingRegressor()
bg = BaggingRegressor()
rf = RandomForestRegressor()

In [157]:
vc = VotingRegressor(estimators = [('lr', lr), ('dt', dt), ('adr', adr), ('gbr', gbr), ('bg', bg), ('rf', rf)])

In [133]:
ohe = OneHotEncoder()
ohe.fit(X)

OneHotEncoder()

In [146]:
trf = ColumnTransformer(transformers = [
    ('ohe', OneHotEncoder(), [0])
], remainder = 'passthrough')

In [160]:
pipe = make_pipeline(trf, gbr)
pipe.fit(X_train, Y_train)
r2_score(Y_test, pipe.predict(X_test))

0.8827664623972717

In [162]:
import pickle
with open('Bangalore House Prediction.pkl', 'wb') as f:
    pickle.dump(pipe, f)